@{
    ViewData["Title"] = "Home Page";
}

@model ITSkills.Web.ViewModels.Home.IndexViewModel

<head>
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/cardStyle.css" />
</head>
@if (!this.User.Identity.IsAuthenticated)
{
    <partial name="NotLoggedIn" />
}
else
{
    <div class="sidebar">
        @foreach (var category in Model.Categories)
        {
            <a href="@category.Url">@category.Name</a>
        }
    </div>
    <div class="text-center">
        <h1 class="display-4">My courses</h1>
        @if (this.User.Identity.IsAuthenticated)
        {
            @if (Model.MyCourses.Count() > 0)
            {
                <div class="row">
                    @foreach (var course in Model.MyCourses)
                    {
                        <div class="column">
                            <div class="card">
                                <img src="@course.ImageUrl" />
                                <p><a asp-controller="Course" asp-action="ById" asp-route-id="@course.CourseId">@course.Title</a></p>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <h2>You don't have any courses yet...</h2>
            }
        }
    </div>
}
<style>
</style>