@model ITSkills.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<body>
    @if (Model.CoursesCount == 0)
    {
        <partial name="NotFound" />
        <div class="text-center">
            <p style="color:lightgray; font-size:16px;">Time to create some courses</p>
            <a asp-controller="Courses" asp-action="Create" style="text-align:center">Create!</a>
        </div>
    }
    else
    {
        <h1 class="display-3">@this.ViewData["Title"]</h1>
        <div>
            @Model.Description
        </div>
        <br />
        <div class="card-deck">
            @foreach (var course in Model.Courses)
            {
                <div class="card">
                    <img class="card-img-top" src="@course.ImageUrl" alt="@course.ImageUrl">
                    <div class="card-body">
                        <h4 class="card-title mbr-fonts-style display-5"><a asp-controller="Course" asp-action="ById" asp-route-id="@course.Id">@course.Title</a></h4>
                        <span class="d-inline-block text-truncate" style="max-width: 320px;">@course.Description</span>
                        <p class="created-by"><strong>Created by @course.User.FirstName @course.User.LastName</strong></p>
                        @if (course.Price == null)
                        {
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Free</small></p>
                            </div>
                        }
                        else
                        {
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">@course.Price BNG</small></p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</body>
<style>
    .card-img-top {
        width: 349px;
        height: 200px;
    }

    .card {
        height: 400px;
    }
</style>


