@model ITSkills.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<h1 class="display-3">@this.ViewData["Title"]</h1>
<div>
    @Model.Description
</div>
<br />

@if (Model.CoursesCount == 0)
{
    <h1>:(</h1>
    <h2>There are currently no courses in this category.</h2>
}
else
{
    @foreach (var course in Model.Courses)
    {
        <div class="row course-in-category">
            <div class="col-md-9 description-box">
                <h4 class="media-heading"><a asp-controller="Course" asp-action="ById" asp-route-id="@course.Id">@course.Title</a></h4>
                <span class="fa fa-play-circle-o">@course.CreatedOn</span>
                <div class="html-raw-wrapper">@course.Description</div>
                <p>Created by @course.UserUserName.</p>
                @if (course.Price == null)
                {
                    <p>Free</p>
                }
                else
                {
                    <p>@course.Price BNG</p>
                }
            </div>
        </div>

    }
}


