@model ITSkills.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<body>
    @if (Model.CoursesCount == 0)
    {
        <div class="text-center">
            <img src="~/img/artboard_1.png" class="center">
            <p>There are no created courses yet.</p>
            <style>
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 30%;
                }

                p {
                    color: black;
                    font-size: 35px;
                }
            </style>

        </div>
    }
    else
    {
        <h1 class="display-3">@this.ViewData["Title"]</h1>
        <div>
            @Model.Description
        </div>
        <br />
        @foreach (var course in Model.Courses)
        {
            <div class="row course-in-category">
                <div class="col-md-9 description-box">
                    <h4 class="media-heading"><a asp-controller="Course" asp-action="ById" asp-route-id="@course.Id">@course.Title</a></h4>
                    <span class="fa fa-play-circle-o">@course.CreatedOn</span>
                    <div class="html-raw-wrapper">@course.Description</div>
                    <p>Created by @course.UserUserName.</p>
                    @if (course.Price == null)
                    {
                        <p>Free</p>
                    }
                    else
                    {
                        <p>@course.Price BNG</p>
                    }
                </div>
            </div>

        }
    }
</body>
<style>
    body {
        background-color: #f1f1f1;
    }
</style>


