@model ITSkills.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<head>
    <script>
        var options = {
            valueNames: ['name', 'title', 'expertise']
        };

        var userList = new List('users', options);
    </script>
</head>
<body>
    @if (Model.CoursesCount == 0)
    {
        <partial name="NotFound" />
    }
    else
    {
        <h1 class="display-3">@this.ViewData["Title"]</h1>
        <div>
            @Model.Description
        </div>
        <br />
        <div class="container">
            <div class="media-container-row">
                @foreach (var course in Model.Courses)
                {
                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="@course.ImageUrl" alt="@course.Title" media-simple="true" width="200">
                            </div>
                            <div class="card-box">
                                <h4 class="card-title mbr-fonts-style display-5"><a asp-controller="Course" asp-action="ById" asp-route-id="@course.Id">@course.Title</a></h4>
                                <p class="mbr-text mbr-fonts-style display-7">
                                    @course.Description<br><strong>Created by @course.User.FirstName @course.User.LastName</strong><br>
                                </p>
                                @*@if (this.User.IsInRole("Admin"))
                                {*@
                                    <a asp-page="/Category/Edit" asp-route-id="@course.Id">Edit |</a>
                                    <a asp-page="/Category/Delete" asp-route-id="@course.Id"> Delete</a>
                                @*}*@
                                @if (course.Price == null)
                                {
                                    <p>Free</p>
                                }
                                else
                                {
                                    <p>@course.Price BNG</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</body>


