@model ITSkills.Web.ViewModels.Courses.CoursesViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<head>
    <script src="https://kit.fontawesome.com/e496302054.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="text-center">
        <h1>@Model.Title</h1>
        <div class="text-center bottom-buffer-lg info">
            <span class="course-date">
                <i class="far fa-clock"></i>
                <span>@Model.CreatedOn.ToString("dd MMMM yyyy")</span>
            </span>
            <span class="count-lections">
                <i class="far fa-file-alt"></i>
                <span>@Model.LectionsCount Lections</span>
            </span>
        </div>
    </div>
    <br />
    <div class="text-center">
        <u>FOR THE COURSE</u>
        <p>@Model.Description</p>
        <u>LECTIONS</u>
        <div class="lections">
            @foreach (var lection in Model.Lections)
            {
                <ul class="lectures-list col-md-12 col-sm-12 col-xs-12 text-left">
                    <li class="lecture col-md-6 col-sm-12 visible-sm visible-xs no-padding">
                        <span class="lecture-name">@lection.Title</span>
                    </li>
                </ul>
            }
        </div>
        <div class="lector-info">
            <u>LECTOR</u>
            <h3>@Model.UserUserName</h3>
        </div>
        <u>PRICING</u>
        @if (Model.Price == null)
        {
            <h4>Free</h4>
        }
        else
        {
            <h4>@Model.Price BGN</h4>
        }
        <style>
            u {
                font-size: 25px
            }

            li {
                list-style-type: none;
            }

            i {
                font-size: 20px;
                font-style: normal;
            }

            span {
                font-size: 20px;
            }
        </style>
    </div>
</body>