@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><button class="btn btn-outline-primary"><a asp-page="./Index">Profile</a></button></li>
    <li class="@ManageNavPages.EmailNavClass(ViewContext)"><button class="btn btn-outline-primary"><a id="email" asp-page="./Email">Email</a></button></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><button class="btn btn-outline-primary"><a id="change-password" asp-page="./ChangePassword">Password</a></button></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><button class="btn btn-outline-primary"><a id="external-login" asp-page="./ExternalLogins">External logins</a></button></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><button class="btn btn-outline-primary"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></button></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><button class="btn btn-outline-primary"><a asp-page="./PersonalData">Personal data</a></button></li>
</ul>
